.container {
    padding: 20px;
}

.contact-image {
    width: 80%; /* Kép szélessége a szülő elem 80%-a */
    max-width: 300px; /* Maximális szélesség */
    height: auto; /* Magasság automatikus */
    border-radius: 15px; /* Lekerekített sarkok */
    margin-bottom: 20px; /* Térköz a kép alatt */
}



@media (max-width: 768px) {
    .contact-image {
        width: 90%; /* Mobilon a kép szélessége 90% */
    }
}