.navbar {
    padding: 0.2rem ;
    background-color: #f8f9fa; 
    display: flex;
    justify-content: space-evenly; /* A logó és a menüsor közötti távolság */
    font-family: Arial, sans-serif;
 
}


#logo {
    height: 65px; 
    margin-right: 1rem; /* Kisebb távolság a logó mellett */
}


.navbar-nav {
    margin-left: auto; /* Menüsor jobbra igazítása */
    display: flex;
    align-items: center;
}

.nav-link {
    margin: 0 0.5rem; 
    color: #3d2412 !important; 
    text-transform: uppercase; 
    text-decoration: none; 
    font-size: large ;
}


.nav-link:hover {
    color: #895129; 
}




@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; 
    }
    
    .nav-link {
        padding: 0.5rem 1rem; 
        text-align: center; 
        border-bottom: 1px solid #e9ecef; 
    }
    
   
}