* {
    font-family: Arial, sans-serif;
  }
  
  
  footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  
  footer .form-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  footer .form-control {
    margin-bottom: 10px;
  }
  
  footer .form-inline label {
    font-weight: bold;
    color: #3d2412; 
    margin-right: 10px;
  }
  
  
  footer .footer-btn {
    background-color: #3d2412; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; 
    margin: 10px;
    border-radius: 12px; 
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  footer .footer-btn:hover {
    background-color: #533b28; 
  }
  
  
  @media (max-width: 768px) {
    footer .footer-btn {
      padding: 8px 16px; 
      font-size: 12px; 
    }
    
    footer .form-control {
      width: 100%; 
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 576px) {
    footer .footer-btn {
      padding: 6px 12px; 
      font-size: 10px; 
    }
    
    footer .form-control {
      width: 100%; 
      margin-bottom: 10px;
    }
  }
  