
.card {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.card-title, .card-text{
    color: #3d2412;
    
}

.card-text{
    text-align: justify;
}

.card-title{
    font-weight: bold;
    
}

.cart-button{
  border-color: #3d2412;
  background-color: #3d2412;
  color: #fff;
}

.cart-button:hover{
  background-color: #3d2412;
  color: #fff;
}
  
  .card-img-top {
    height: 250px; 
    object-fit: cover; 
    width: 100%; 
  }
  
  
  @media (max-width: 768px) {
    .card-img-top {
      height: 200px; 
    }
  }
  
  @media (max-width: 576px) {
    .card-img-top {
      height: 150px; 
    }
  }
  